.contenedor{
    margin: 30px auto 0;
    max-width: 1400px;
    display: grid;
    grid-template-areas: 'productos'
                         'formulario';
    grid-template-rows: auto;
    justify-content: center;
}

body.dark .contenedorVacio__btn{
    background: rgb(255, 123, 0);
    color: #fff;
    transition: 0.5s ease;
}

body.dark .contenedorVacio__carrito-vacio:hover{
    background: transparent;
    color: rgb(255, 123, 0);
    transition: 0.5s ease;
}

body.dark .text__success{
    color: #fff;
    transition: 0.5s ease;
}

.contenedorVacio__btn{
    color: #fff;
    background: rgb(255, 123, 0);
    border: 1px solid rgb(255, 123, 0);
    border-radius: 15px;
    outline: none;
    transition: 0.5s ease;
    margin: 15px 0 100px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.contenedorVacio__btn:hover{
    background: transparent;
    color: rgb(255, 123, 0);
    transition: 0.5s ease;
}

.text__success{
    font-size: 25px;
    color: #000;
    font-weight: 600;
}

.text__id{
    font-size: 25px;
    color: rgb(255, 123, 0);
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .cart__lottie.vacio{
        width: 40% !important;
        margin-bottom: 0 !important;
    }
    .contenedorVacio__btn{
        font-size: 15px !important;
    }
    .text__success,
    .text__id{
        font-size: 18px;
    }
    
}

@media screen and (max-width: 600px) {
    .cart__lottie.vacio{
        width: 70% !important;
    }
    .cart__lottie.success{
        width: 40% !important;
    }
    .cart__lottie
    .text__id,
    .text__success{
        font-size: 16px;
        padding: 0 10px;
    }
}

