
.contenedor__carrito-vacio{
    background: transparent;
    color: rgb(255, 123, 0);
    box-shadow: 1px 1px 4px rgb(255, 123, 0);
    border: 1px solid rgb(255, 123, 0);
    border-radius: 15px;
    outline: none;
    margin: 15px 0 10px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.contenedor__carrito-vacio:hover{
    color: #fff;
    background: rgb(255, 123, 0);
    transition: 0.5s ease;
}