body.dark .header__SubNav{
    border-top: 1px solid #929292;
    transition: 0.5s ease;
    background: #4d4d4d;
}

body.dark .form__Search{
    background: #2A2B2A;
    transition: 0.5s ease;
    color: #fff; 
}

.header__SubNav{
    transition: 0.5s ease;
    display: flex;
    font-size: 16px;
    border-top: 1px solid transparent;
    background: rgb(116, 116, 116);
    flex-flow: row wrap;
    width: 100%;
    height: 4.375em;
    align-items: center;
    margin: 0;
    margin-top: 0;
    padding: 5px 0;
    justify-content: center;
}


    .subNav__form{
        width: 60%;
        max-width: 1000px;
        display: flex;
    }

        .form__Search{
         height:100%;
         padding: 5px 10px;
         max-width: 1000px;
         transition: 0.5s ease;
         border-radius: 10px;
         border: 1px solid rgb(90, 90, 90);
         width: 100%;
         margin-right: 30px;
         font-size: 1.25em;
        }

        body.dark .form__Search{
            border: 1px solid #929292;
            transition: 0.5s ease;
        }
        body.dark .form__Search::placeholder{
            transition: 0.5s ease;
            color: #b8b8b8;
        }

            .form__Search:hover{
                border: 1px solid rgb(255, 123, 0);
                outline: 1px solid rgb(255, 123, 0);
                transition: 0.3s all ease;
                cursor:text;
                color: #000;
            }

            body.dark .form__Search:hover{
                transition: 0.5s ease;
                border: 1px solid rgb(255, 123, 0);
            }
            
        .form__btnSubmit{
            color: #fff;
            text-decoration: none;
            font-size: 1.25em;
            background: rgb(255, 123, 0);
            border: 1px solid rgb(90, 90, 90);
            box-shadow: 1px 1px 5px rgb(51, 51, 51);
            border-radius: 10px;
            font-weight: 500;
            padding: 5px 30px 8px;
        }

             .form__btnSubmit:hover{
                cursor: pointer;
                box-shadow: 1px 1px 5px rgb(32, 32, 32);
                transition: 0.5s ease all;
                background: rgb(230, 110, 0);
            }


@media screen and (max-width: 1000px){
    .header__SubNav{
        margin-top: 50px;
    }
    .subNav__form{
        width: 90%;
    }
    .form__Search{
        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {
    .form__btnSubmit{
        padding: 0px 9px 5px;
        color: #fff;
        transition: 0.5s ease;
        background: transparent;
        border: 1px solid transparent;
        box-shadow: none;
        font-size: 20px;
    }
    .form__btnSubmit:hover{
        cursor: pointer;
        box-shadow: none;
        transition: none;
        background: none;
    }
    body.dark .form__btnSubmit{
        color: rgb(255, 123, 0);
        transition: 0.5s;
    }
}
@media screen and (max-width: 400px) {
    .header__SubNav{
        font-size: 12px;
    }
}