body.dark .title__SectionProduct,
body.dark .container__Product{
    transition: 0.5s ease;
    color: #fff;
}

.title__SectionProduct{
    margin: 0;
    transition: 0.5s ease;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 600;
    padding: 30px;
}

.container__Product{
    margin: 0 30px 50px;
}

.loading{
    font-size: 30px;
}

.text__error{
    margin: 5px 0;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 950px) {
    .title__SectionProduct{
        font-size: 30px;
    }
}

@media screen and (max-width: 450px){
    .title__SectionProduct{
        font-size: 25px;
    }
}