.enlace__Carrito{
    align-self: center;
    margin-right: 30px;
}

body.dark .imgCarrito{
    color: #fff;
    transition: 0.5s ease;
}
body.dark .imgCarrito:hover{
    color: rgb(255, 123, 0);
    transition: 0.5s ease;
}
body.dark .contadorCarrito{
    background: #fff;
    color: #000;
    transition: 0.5s ease;
}
body.dark .imgCarrito:hover ~ .contadorCarrito{
    background: rgb(255, 123, 0);
    color: #fff;
    transition: 0.5s ease;
}

.imgCarrito{
    cursor: pointer;
    color: #747474;
    transition: 0.5s ease;
    font-size: 30px;
    align-self: center;
}
    .imgCarrito:hover{
        transition: 0.5s ease all;
        color: rgb(255, 123, 0);
    }

.contadorVacio{
    display: none;
}

.contadorCarrito{
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    background: #747474;
    font-weight: 500;
    transition: 0.5s ease;
    position: absolute;
    top: 8px;
    padding: 3px;
}

    .imgCarrito:hover ~ .contadorCarrito {
        transition: 0.5s ease all;
        background: rgb(255, 123, 0);
    }

@media screen and (max-width: 1000px){
    .imgCarrito{
        font-size: 23px;
    }
    .enlace__Carrito{
        margin-right: 20px;
    }
    .contadorCarrito{
        top: 5px;
        padding: 2px;
        font-size: 12px;
    }
}