.enlace__Carrito{
    align-self: center;
    margin-right: 30px;
}

.imgCarrito{
    cursor: pointer;
    color: #747474;
    font-size: 30px;
    align-self: center;
}
    .imgCarrito:hover{
        transition: 0.5s ease all;
        color: rgb(255, 123, 0);
    }

.contadorVacio{
    display: none;
}

.contadorCarrito{
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    background: #747474;
    font-weight: 500;
    position: absolute;
    padding: 3px;
    top: 14px;
}

    .imgCarrito:hover ~ .contadorCarrito {
        transition: 0.5s ease all;
        background: rgb(255, 123, 0);
    }