body.dark .container__Box,
body.dark .img__Product,
body.dark .box__Product{
    background: #4d4d4d;
    transition: 0.5s ease;
}

body.dark .container__Box{
    transition: 0.5s ease;
    box-shadow: 1px 1px 3px #000;
}

body.dark .container__Box:hover{
    transition: 0.5s ease;
    box-shadow: 1px 1px 3px rgb(255, 123, 0);
}

body.dark .name__Product,
body.dark .descripcion__Product,
body.dark .precio__Product{
    color: #fff; 
    transition: 0.5s ease;
}

body.dark .linkCart__Product{
    background: rgb(255, 123, 0);
    transition: 0.5s ease;
    color: #fff;
}

body.dark .linkCart__Product:hover{
    background: transparent;
    transition: 0.5s ease;
    color: rgb(255, 123, 0);
}


.container__Box{
    display: grid;
    max-width: 1000px;
    grid-template-columns: 50% 50%;
    background: #fff;
    transition: 0.5s ease;
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px #000;
}

.container__Box:hover{
    box-shadow: 1px 1px 5px rgb(255, 123, 0);
    transition: 0.5s ease;
    transform: scale(1.01);
}

.img__Product{
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    margin: 0;
    border-radius: 15px 0 0 15px;
    background: #fff;
}

.box__Product{
        background: #FFF;
        border-radius: 15px;
        font-size: 16px;
        transition: 0.5s ease;
        flex-flow: column wrap;
        padding: 40px 15px 10px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

.box__Description{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.name__Product{
    font-size: 1.875em;
    text-transform: uppercase;
    margin: 0px 0;
    padding-bottom: 20px;
    font-weight: 500;
    transition: 0.5s ease;
    align-self: flex-start;
    color: #000;
}
.descripcion__Product{
    font-size: 1.3em;
    margin: 0px 0;
    padding-bottom: 20px;
    transition: 0.5s ease;
    text-transform:initial;
    font-weight: 400;
    color: #000;
}

.box__Price{
    margin: 0px 0;
    display: flex;
    padding-bottom: 20px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.img__Cripto{
    width: 2.5em;
    height: 2.5em;
    padding-top: 4px;
    margin: 0;
}

.precio__Product{
    margin: 0;
    padding-left: 10px;
    font-size: 32px;
    transition: 0.5s ease;
    color: #000;
    font-weight: 400;
}

.linkCart__Product{
    background: transparent;
    color: rgb(255, 123, 0);
    border: 1px solid rgb(255, 123, 0);
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-size: 15px !important;
    margin: 15px 0 10px;
    transition: 0.5s ease;
    padding: 8px 1px 9px;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
    font-size: 0.9375em;
    cursor: pointer;
}

.linkCart__Product:hover{
    background: rgb(255, 123, 0); 
    color: #fff;
    transition: 0.5s ease;
}

@media screen and (max-width: 900px) {
    .box__Product{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .container__Box{
        grid-template-columns: 100%;
        width: 80%;
    }
    .img__Product{
        height: 300px;
        border-radius: 15px 15px 0 0;
    }
    .box__Product{
        text-align: start;
        font-size: 10px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 450px) {
    .container__Box{
        width: 100%;
    }
    .img__Product{
        height: 250px;
    }
}

@media screen and (max-width: 350px) {
    .img__Product{
        height: 200px;
    }
}
@media screen and (max-width: 250px) {
    .img__Product{
        height: 150px;
    }
    .name__Product{
    font-size: 1.575em;
    }
}

