body.dark .title__Section{
    color: #fff;
    transition: 0.5s ease;
}

body.dark .container__errorSearch{
    color: #fff;
    transition: 0.5s ease;
}

.title__Section{
    margin: 0;
    transition: 0.5s ease;
    font-size: 40px;
    font-weight: 600;
    padding: 30px;
    color: #000;
}

.container__Store{
    padding-bottom: 60px;
}

.container__errorSearch{
    font-size: 25px;
    font-weight: 600;
    transition: 0.5s ease;
    color: #000;
    margin: 0 20px 180px;
}

.container__errorImg{
    width: 20%;
}


@media screen and (max-width: 800px){
    .title__Section{
        padding: 20px 30px 5px; 
        font-size: 30px;
    }

    .container__errorSearch{
        font-size: 18px;
    }

    .container__errorImg{
        width: 50% !important;
        height: 30%;
    }


}
