.title__Section{
    background: rgb(230, 230, 230);
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    padding: 30px;
}

.container__Store{
    padding-bottom: 30px;
    background: rgb(230, 230, 230);
}

.loading{
    font-size: 30px;
}