body.dark .title__Section{
    color: #fff;
    transition: 0.5s ease;
}

body.dark .container__errorSearch{
    color: #fff;
    transition: 0.5s ease;
}

.title__Section{
    margin: 0;
    transition: 0.5s ease;
    font-size: 40px;
    font-weight: 600;
    padding: 30px;
    color: #000;
}

.container__Store{
    padding-bottom: 60px;
}

.container__errorSearch{
    font-size: 25px;
    font-weight: 600;
    transition: 0.5s ease;
    color: #000;
    margin: 0 20px 180px;
}

.container__errorImg{
    width: 20%;
}

.container__btn{
    background: transparent;
    color: rgb(255, 123, 0);
    border: 1px solid rgb(255, 123, 0);
    border-radius: 15px;
    outline: none;
    transition: 0.5s ease;
    margin: 15px 0 100px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.container__btn:hover{
    color: #fff;
    background: rgb(255, 123, 0);
    transition: 0.5s ease;
}


@media screen and (max-width: 800px){
    .title__Section{
        padding: 20px 30px 5px; 
        font-size: 30px;
    }

    .container__errorSearch{
        font-size: 18px;
    }

    .container__errorImg{
        width: 50% !important;
        height: 30%;
    }

    .container__btn{
        font-size: 15px !important;
    }


}
