body.dark .contenedor__Contador{
    background: #4d4d4d;
    transition: 0.5s ease;
}

body.dark .producto__BoxCantidad{
    background: #2A2B2A;
    color: #fff;
    transition: 0.5s ease;
}

body.dark .btn__AgregarAlCarrito{
    transition: 0.5s ease;
    background: rgb(255, 123, 0);
    color: #fff;
}

body.dark .btn__AgregarAlCarrito:hover{
    transition: 0.5s ease;
    background: transparent;
    color: rgb(255, 123, 0);
}

.contenedor__Contador{
    background: #FFF;
    transition: 0.5s ease;
    border-radius: 15px;
    width: 100%;
}

.producto__BoxCantidad{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    transition: 0.5s ease;
    width: 100%;
    color: #000;
    background: #fff;
    border-radius: 5px;
    padding: 1px;
    border: 1px solid rgb(255, 123, 0);
}

    .btn__Operacion{
        background: transparent;
        color: rgb(255, 123, 0);
        outline: none;
        border: none;
        font-size: 25px;
        padding: 0 10px 5px;
        cursor: pointer;
        font-weight: 600;
    }

    .texto__Operacion{
        margin: 0;
        font-size: 20px;
    }


.btn__AgregarAlCarrito{
    background: transparent;
    color: rgb(255, 123, 0);
    border: 1px solid rgb(255, 123, 0);
    border-radius: 5px;
    outline: none;
    margin: 15px 0 10px;
    padding: 8px 1px 9px;
    font-weight: 500;
    transition: 0.5s ease;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    position:relative;
}

.btn__AgregarAlCarrito:hover{
    background: rgb(255, 123, 0); 
    color: #fff;
    transition: 0.5s ease;
}

@media screen and (max-width: 450px) {
    .btn__Operacion{
        font-size: 22px;
    }
    .btn__AgregarAlCarrito{
        font-size: 13px;
    }
    .texto__Operacion{
        font-size: 16px;
    }
}



