body.dark .contenedor__error-subtitulo{
    color: #fff;
    transition: 0.5s ease;
}

.contenedor__error{
    margin-top: 20px;
}

.contenedor__error-titulo{
    color: rgb(255, 123, 0);
    font-size: 50px;
}

.contenedor__error-subtitulo{
    color: #000;
    transition: 0.5s ease;
    font-size: 25px;
}

.contenedor__error-boton{
    background: rgb(255, 123, 0);
    color: #fff;
    box-shadow: 1px 1px 7px rgb(255, 123, 0);
    border: 2px solid rgb(255, 123, 0);
    border-radius: 15px;
    outline: none;
    margin: 15px 0 10px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.contenedor__error-boton:hover{
    color: rgb(255, 123, 0);
    background: transparent;
    transition: 0.5s ease all;
}

@media screen and (max-width: 600px) {
    .contenedor__error-lottie{
        width: 40% !important;
    }
    .contenedor__error-titulo{
        margin: 20px 0 5px;
        font-size: 35px;
    }
    .contenedor__error-subtitulo{
        margin: 5px 0 10px;
        font-size: 17px;
    }
    .contenedor__error-boton{
        font-size: 15px;
        padding: 5px 7px;
    }
}