.layout{
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'header header header';
}

.layout_dark{
    background: #000;
}

    .header{
        grid-area: header;
        background: #fff;
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        align-content: center;
        align-items: center;
    }

        .header__Nav{
            display: flex;
            flex-flow: row wrap;
            max-width: 1400px;
            width: 100%;
            margin: 10px;
            padding: 0 10px;
            justify-content: space-between;
        }

            .nav__Enlace{
                text-decoration: none;
                cursor: pointer;
            }

            .nav__Logo{
                margin-left: 10px;
            }

            .nav__Menu{
                list-style: none;
                display: flex;
                align-items: center;
                align-content: center;
                flex-flow: row wrap;
            }

                .menu__Enlaces{
                    text-decoration: none;
                    margin: 0 10px;
                }

                    .menu__Categorias{
                        color: rgb(116, 116, 116);
                        font-size: 20px;
                        border-bottom: 1px solid transparent;
                    }
                        .menu__Categorias:hover{
                            transition: 0.5s all ease;
                            color: rgb(255, 123, 0);
                            border-bottom:1px solid rgb(255, 123, 0);
                            cursor: pointer;
                        }
            .nav__Caja{
                display: flex;
                flex-flow: row wrap;
            }