body.dark .formUser{
    transition: 0.5s ease;
}

body.dark .formUser__input{
    background: #4d4d4d;
    transition: 0.5s ease;
    color: #fff;
}

body.dark .formUser__input::placeholder{
    transition: 0.5s ease;
    color: #b8b8b8;
}
body.dark .formUser__input:focus{
    transition: 0.5s ease;
    filter: brightness(0.8)
}

body.dark .formUser__subtitle{
    transition: 0.5s ease;
    color: #fff;
}

.container__formUser{
    margin: 40px 30px 0;
}

.formUser{
    grid-area: formulario;
    margin: 0px auto 50px;
    transition: 0.5s ease;
    width: 100%;
    padding: 20px 0px 10px 0;
    border: 1px solid rgb(255, 123, 0);
    border-radius: 15px;
}

.formUser__title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 123, 0);
    margin: 0 0 20px 20px;
    padding: 0;
    display: flex;
    align-items: flex-start;
}

.formUser__subBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 20px;
    width: 100%;
}

.formUser__cajaInput{
    margin: 0 10px;
    width: 90%;
}

.formUser__subtitle{
    font-size:18px;
    font-weight: 600;
    display: flex;
    color: #000;
    transition: 0.5s ease;
    align-items: flex-start;
    padding: 0;
    margin: 5px 0 5px 5px;
}

.formUser__input{
    padding: 10px 10px;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
    transition: 0.5s ease;
    line-height: 20px;
    width: 100%;
    border: 2px solid rgb(255, 123, 0);
}

.formUser__input:focus{
    transition: 0.5s ease;
    filter: brightness(0.9)
}

.formUser__input.error{
    transition: 0.5s ease;
    border-color: rgb(255, 0,0);
}

.formUser__textError{
    color: rgb(255, 0,0);
    margin: 5px 0;
    font-size: 15px;
    transition: 0.5s ease;
    text-align: start;
    padding-left: 5px;
    width: 100%;
    font-weight: 600;
}

.formUser__textError.captcha{
    text-align: center;
}

.container__recaptcha{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 0;
    justify-content: center;
}

/* botones */
.contenedor__botones{
    display: flex;
    padding: 10px 0 0;
    justify-content: center;
}



.btnComprar:hover{
    background: transparent;
    color: rgb(255, 123, 0);
    transition: 0.5s ease;
}

.btnComprar{
    background: rgb(255, 123, 0);
    color: #fff;
    border: 1px solid rgb(255, 123, 0);
    border-radius: 10px;
    outline: none;
    padding: 7px 10px 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 20px 10px 20px;
}

.lottie__loading{
    position:fixed;
    transition: 0.5s;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding-top: 50px;  
}

.error__contenedor{
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    position:fixed;
    transition: 0.5s;
    top:0;
    right:0;
    bottom:0;
    left:0;  
}

.error__texto{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
}

.contenedor__btn.error{
    font-size: 25px;
    background: rgb(212, 46, 46);
    border-color: rgb(212, 46, 46);
    padding: 5px 20px 9px;
}

.contenedor__btn.error:hover{
    background: transparent;
    transition: 0.5s;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .formUser__subBox{
        display: grid;
        grid-template-columns: 1fr;
    }
    .formUser__cajaInput{
        text-align: start;
    }

    .formUser__title{
        margin: 0 10px 20px 10px;
        font-size: 17px;
    }

    .formUser__subtitle{
        font-size: 15px;
    }

    .formUser__textError{
        font-size: 13px;
    }

    .formUser__textError.captcha{
        text-align: start;
        padding-left: 10px;
    }

    .formUser__cajaInput:last-child{
        margin-bottom: 10px;
    }

    .container__recaptcha{
        padding: 15px 0 0;
        margin: 0;
        align-items: flex-start;
    }

    .recaptcha{
        margin: 0;
        transform: scale(0.9);
    }

    .btnComprar{
        font-size: 14px;
    }
}
@media screen and (max-width: 400px) {
    .formUser{
        width: 99%;
    }
    .formUser__title{
        margin: 0 5px 20px 5px;
        font-size: 17px;
    }
    .recaptcha{
        transform: scale(0.8);
    }
    .contenedor__Productos{
        margin: 0px auto !important;
    }
}

@media screen and (max-width: 300px) {
    .contenedor{
        width: 250px;
        margin: 30px 0 0;
        display: flex;
        flex-flow: column-reverse wrap;
        align-items: center;
    }
    .contenedor__Productos{
        width: 250px;
        margin: 0;
    }

    .container__formUser{
        width: 250px;
        margin: 0;
    }
    
    .recaptcha{
        transform: scale(0.65);
    }

    .recaptcha > div > div{
        width: 0px !important;
    }

    .formUser{ 
        width: 85%;
    }
}