body.dark .container__footer{
    background: #4d4d4d;
    transition: 0.5s ease;
    border-top: 1px solid #a2a2a2;
}

body.dark .container__textos{
    transition: 0.5s ease;
    font-weight: 600;
    color: rgb(255,123,0);
}

body.dark .container__enlace{
    transition: 0.5s ease;
    font-weight: 600;
    color: rgb(255,123,0);
}
body.dark .container__enlace:hover{
    transition: 0.5s ease;
    filter: brightness(0.9);
}

.container__footer{
    transition: 0.5s ease;
    margin-top: 170px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: rgb(255,123,0);
}

.container__textos{
    transition: 0.5s ease;
    margin: 0;
    max-width: 1000px;
    padding: 10px 0;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.container__enlace{
    cursor: pointer;
    transition: 0.5s ease;
    color: #fff;
    margin-left: 3px;
}

.container__enlace:hover{
    transition: 0.5s ease;
    filter: brightness(0.95);
}


@media screen and (max-width: 800px) { 
    .container__textos.cripto{
        display: none;
    }
}

@media screen and (max-width: 450px) { 
    .container__textos{
        font-size: 13px ;
    }
}